<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href={{ url_for('static', filename="styles.css" ) }}> 
</head>
<body>
    <header>
        <h1>Meu Site</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">About</a></li>
                <li><a href="/servicos">Services</a></li>
                <li><a href="/contato">Contact</a></li>
            </ul>
        </nav>
    </header>

    {% block conteudo %}
        
    {% endblock %}

    <footer>
        <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
