<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 2</title>
</head>
<body style="font-size: 20px;">
    {% if user %}
        <h1>Olá, {{ user }}! Tudo bem com você?</h1>
    
        {% if happy %}
            <p>Tudo sim, estou ótimo. :)</p>

            {% else %} <p>Não está nada bem! :(</p>
        {% endif %}

        <ul> 
            <!-- Laço de repetição for -->
            {% for i in range(num) %}
                <li> {{i}} </li>
            {% endfor %}
        </ul>

        {% else %} 
            <h1 style="text-align:center; background-color: red">USUÁRIO NÃO AUTENTICADO!</h1>
    {% endif %}

</body>
</html>