{% extends "base.html" %}
{% block title %}Alunos{% endblock %}
{% block content %}
<h2>Cadastro de Alunos</h2>
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.nome.label }} {{ form.nome(size=32) }}
    {{ form.cpf.label }} {{ form.cpf(size=11) }}
    {{ form.endereco.label }} {{ form.endereco(size=50) }}
    {{ form.senha.label }} {{ form.senha(size=32) }}
    {{ form.curso.label }} {{ form.curso() }}
    {{ form.submit() }}
</form>
<hr>
<h3>Lista de Alunos</h3>
<ul>
    {% for aluno in alunos %}
        <li>{{ aluno.nome }} - {{ aluno.cpf }}</li>
    {% endfor %}
</ul>
{% endblock %}
