{% extends "base.html" %}

{% block title %}Editar Aluno{% endblock %}

{% block content %}
<h2>Editar Aluno</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.nome.label }}<br>
        {{ form.nome(size=32) }}
    </div>
    <div>
        {{ form.cpf.label }}<br>
        {{ form.cpf(size=32) }}
    </div>
    <div>
        {{ form.endereco.label }}<br>
        {{ form.endereco(size=32) }}
    </div>
    <div>
        {{ form.senha.label }}<br>
        {{ form.senha(size=32) }}
    </div>
    <div>
        <button type="submit" class="button">Salvar Alterações</button>
        <a href="{{ url_for('listar_alunos') }}" class="button button-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
